.row1{
	background: grey;
}
ul{
	list-style-type: none;
	text-align: center;
	margin:0px 10px 30px 0px;
}
.inline{
	margin: 0px 0px 30px 300px;
}
	.titulo{
	font-size: 14px;
}
.col-3{
	background: #A9D0F5;
}
.music{
	border: 1px solid blue;
	height: 200px;
	width: 200px;
	padding: 2px;
	margin-right: 25px;
	margin-top: 40px;
}
.discos{
	text-align: center;
}
.discos .row {
	margin-bottom: 10px;
}
.discos img {
	background: #CEF6F5;
	padding: 3px;
	border: solid 1px #2E2EFE;	
	width: 150px;
	height: 150px;
}
.row3{
	color:grey;
	border: solid #848484 1px;
	background:#A4A4A4;
}
p{
	text-align: center;
	font-size: 12px;
}
.ultimop{
	text-align: center;
	color:white;
}
.links {
  text-align: center;
  margin: 15px 0 0 0;
  font-size: 13px;
}	
.copyright{
	color:#424242;
	text-align: center;
	font-size: 12px;
}
a{
	font-size: 16px;
}