header{
	background:#F5A9D0; 
}
.genero{
	width: 100%;
	margin: 40px 10px 40px 20px;
}
.row1{
	background:#F5A9D0;
}
ul{
	list-style-type: none;
	text-align: center;
	margin:0px 10px 30px 0px;
}
.inline{
	display: inline-block;
	margin:80px 10px 20px 10px;
}
.titulo{
	font-size: 14px;
}
.col-3{
	padding: 5px 5px 15px 20px;
}
h4{
	text-align: center;
	font-size: 18px;
}
.music{
	border: 1px solid blue;
	height: 200px;
	width: 200px;
	padding: 2px;
	margin-right: 25px;
	margin-top: 40px;
}
.discos{
	text-align: center;
	margin:20px 0px 10px 0px;
}
.discos .row {
	margin-bottom: 10px;
}
.discos img {
	background: #CEF6F5;
	padding: 2px;
	border: solid 1px #2E2EFE;	
	width: 100%;
}
.row3{
	color:grey;
	border: solid #848484 1px;
	background:#A4A4A4;
}
.columna{
	background-color: white;
	padding: 40px 0px 10px 0px;
}
hr{
	border:solid 2px black;
}
.lateral{
	display: inline-block;
	margin:5px 5px 5px 5px;
}
.pod{
	width:20px;
	height: 20px;
}
h5{
	font-size: 16px;
	color:#8181F7;
	display: inline-block;
}
h2{
	margin:15px 0px 15px 0px;
}
p{
	text-align: center;
	font-size: 18px;
	color:#8181F7;
}
.ultimop{
	text-align: center;
	color:white;
}
.links {
  text-align: center;
  margin: 15px 0 0 0;
  font-size: 14px;
}	
.copyright{
	color:#424242;
	text-align: center;
	font-size: 14px;
}
a{
	font-size: 16px;
}